<div class="pageContainer">
    <div class="container">    
        <ul class="primaryList">
            <% @users.each do |user| %>
                <li>
                    <%= link_to(user, class: "primaryHeadline") do %>
                        <span><%= user.name %></span>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
