<div class="pageContainer">
    <div class="container">
        <h1>Join Story Wars</h1>
        <div class="col-md-7">
            <ul class="simpleList largeList marginBottom">
                <li>Write your own short stories</li>
                <li>Challenge your friends</li>
                <li>Continue on other authors stories</li>
                <li>Vote on how a story should continue</li>
            </ul>
        </div>
        <%= render 'form' %>

    </div>
</div>
