<div class="pageContainer">
    <div class="container">
        <ul class="primaryList">
            <% @newest_stories.each_with_index do |story, index| %>
                <% if index > 7 %>
                    <% break %>
                <% end %>
                <% votes = 0 %>
                <% story.chapters.each do |chapter| %>
                    <% votes = votes + chapter.votes.count %>
                <% end %>
                <li>
                    <%= link_to(story, class: "primaryHeadline") do %>
                        <span><%= story.title %></span>
                        <div class="extraInfo">
                            <span><%= votes %> p</span>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <%-# link_to "Back to most popular", { :controller => "stories", :action => "index" }, :class => "pull-right marginTop marginBottom btn" -%>
    </div>
</div>