// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.voteChapter-container {
    background-color: white;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    margin-bottom: 30px;
    border-radius: 3px;
    list-style-type: none;
    &:nth-of-type(even) {
        margin-right: 0;
    }
    span {
        color: black;
    }
    p {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        margin-bottom: 10px;
    }
    input[type="submit"].btn-inverse {
        border: 2px solid #d14747;
        margin-bottom: 25px;
    }
    .readmore-js-toggle {
        width: 100%;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        text-align: center;
        border-radius: 0 0 3px 3px;
    }
}

.voteChapter-content {
    p {
        color: black;
    }
}

.chapterHeadline {
    margin-top: 30px;
}

.chapterInfo {
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    float: left;
}

@media (max-width: 520px) {
    .chapterInfo {
        float: left;
        display: block;
    }
    .voteChapter-container {
        padding: 20px;
    }
}