// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.voteChapter-container {
    background-color: white;
    float: left;
    width: 49%;
    margin-right: 2%;
    height: 300px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    list-style-type: none;
    &:nth-of-type(even) {
        margin-right: 0;
    }
    span {
        color: black;
    }
    p {
        margin: 0;
        margin-bottom: 10px;
    }
    input[type="submit"].btn-inverse {
        border: 2px solid #d14747;
    }
}

@media (max-width: 991px) {
    .voteChapter-container {
        float: left;
        height: auto;
        width: 100%;
    }
}

.voteChapter-content {
    color: black;
}

.chapterHeadline {
    margin-top: 30px;
}

.chapterInfo {
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    float: left;
}

@media (max-width: 520px) {
    .chapterInfo {
        float: left;
        display: block;
    }
}