// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.primaryList {
    list-style-type: none;
    float: left;
    width: 100%;
    li {
        border-bottom: 5px solid #d14747;
        .primaryHeadline {
            padding: 20px;
            span {
                font-size: 38px;
            }
            .extraInfo {
                float: right;
                span {
                    padding-top: 17px;
                    font-weight: normal;
                    text-align: right;
                    font-size: 16px;
                    display: block;
                }
            }
        }
        a {
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
            &:hover {
                background-color: #d14747;
            }
        }
        &:last-child {
            border: none;
        }
    }
}

.storyTitle {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.storyContainer {
    h3 {
        color: black;
    }
}

.storyContent {
    float: left;
    width: 100%;
    font-size: 22px;
    line-height: 38px;
    color: black;
    padding-bottom: 40px;
    margin-top: 0;
}

.storyList {
    float: left;
    width: 100%;
    list-style-type: none;
    li {
        float: left;
        width: 100%;
        border-top: 1px solid #c6c6c6;
        padding-top: 30px;
    }
}

@media (max-width: 520px) {
    .primaryList {
        li {
            .primaryHeadline {
                padding: 15px;
                span {
                    font-size: 20px;
                }
            }
        }
    }
    .storyTitle {
        float: left;
        display: block;
        margin-bottom: 0px;
        span {
            float: left;
            display: block;
        } 
    }
    .storyContent {
        font-size: 16px;
        line-height: 20px;
    }
}

.clock {
    margin-top: 9px;
}