// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.primaryList {
    list-style-type: none;
    float: left;
    width: 100%;
    li {
        border-bottom: 5px solid #d14747;
        .primaryHeadline {
            padding: 0 20px;
            font-size: 38px;
        }
        a {
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
            &:hover {
                background-color: #d14747;
            }
        }
        &:last-child {
            border: none;
        }
    }
}

.storyTitle {
    color: black;
    span {
        position: relative;
        margin-top: 16px;
        float: right;
        color: black;
    }
}

.storyContent {
    font-size: 20px;
    line-height: 30px;
    color: black;
    padding-bottom: 40px;
}