// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userProfile {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    img {
        float: left;
        border-radius: 40px;
        margin-right: 15px;
    }
    .userHeadline {
        margin-top: 7px;
        float: left;
        .userEmail {
            float: left;
        }
    }
    .userButtons {
        margin-top: 30px;
    }
    .userImageBtn {
        top: 30px;
        position: relative;
    }

}
