// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userProfile {
    float: left;
    width: 100%;
    img {
        display: inline-block;
        border-radius: 40px;
        margin-right: 15px;
        @media (max-width: 520px) {
            height: 50px;
            margin-right: 5px;
        }
    }
    .userHeadline {
        position: relative;
        top: -15px;
        display: inline-block;
        @media (max-width: 520px) {
            top: -10px;
            font-size: 18px;
        }
        .userEmail {
            display: block;
        }
    }
    .userButtons {
        margin-top: 20px;
    }
    .userImageBtn {
        top: -32px;
        position: relative;
    }
    @media (max-width: 767px) {
        .userButtons {
            margin-top: 0px;
            margin-bottom: 20px;
            float: right;
        }
    }
}
