<footer>
    follow us on <a target="_blank" href="https://twitter.com/storywars_net" title="Follow Story Wars on Twitter"><i class="fa fa-twitter-square"></i></a> <a target="_blank" href="https://www.facebook.com/pages/Story-Wars/800681779962539" title="Follow Story Wars on Facebook"><i class="fa fa-facebook-square"></i></a>
</footer>